<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-tab">
  <ion-header collapse="condense" [translucent]="true" class="ion-no-border">
    <ion-toolbar class="font">
      <ion-title size="large">Shopping</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="core.abreModal('filtro')">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon> <!-- ios="ellipsis-horizontal" -->
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar style="margin-top: 10px;" collapse="condense" [translucent]="true" class="ion-no-border">
      <ion-searchbar debounce="500" placeholder="Buscar lugares"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</ion-content>
