<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-tab">
  <ion-header collapse="condense" [translucent]="true" class="ion-no-border">
    <ion-toolbar class="font">
      <ion-title size="large">Perfil</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button color="primary" (click)="core.logout()">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
    
  </ion-header>
</ion-content>
