<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 30px !important;">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="core.fechaModal()">  
        <ion-icon name="chevron-back-outline"></ion-icon>        
        <!-- <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>          ios="ellipsis-horizontal" -->
      </ion-button>
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>
      Notificações
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear">          
        Limpar      <!-- ios="ellipsis-horizontal" -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="true" class="ion-no-border">
    <ion-toolbar class="font">
      <ion-title size="large">Notificações</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-grid>
    <ion-row size="12">
      
    </ion-row>
  </ion-grid> -->
  <div class="section sem-notificacoes">
    <ion-text>Você não tem notificações no momento.</ion-text>
  </div>

</ion-content>
