/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./assets/scss/tabs.scss";

// h1, h2, h3, h4, h5, h6, p {
//     color: #1c1c1c;
// }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.font {
    font-family: 'Poppins', sans-serif !important;
}

.section {
    padding: 10px !important;
    padding-bottom: 5px;
}

.section-title {
    display: block;
    text-align: left;
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: .3px;
    // color: #1c1c1c;
}

.small-text {
    font-size: 13px;
}

.text-right {
    float: right;
}

.owl-section {
    margin: 15px 0;
    margin-bottom: 0;
}

.owl-recomendados {
    // margin: 15px 0;
    .card {
        width: 190px;
        height: calc(190px * 1.25);
        border-radius: 12px;
        background: rgb(226, 226, 226);
        background-size: cover;
        background-position: center center;

        position: relative;
        z-index: 7;
        padding: 10px;

        // transition: ease-in-out .4s all;
        -webkit-transition: all 0.4s 0s ease-in-out;
        -moz-transition: all 0.4s 0s ease-in-out;
        -o-transition: all 0.4s 0s ease-in-out;
        transition: all 0.4s 0s ease-in-out;
        &:before, &:after {
            position: absolute;
            content: '';
            background: #000000;
            border-top-left-radius: 14px;
            border-bottom-left-radius: 14px;
            // transition: ease-in-out .4s all;
            -webkit-transition: all 0.4s 0s ease-in-out;
            -moz-transition: all 0.4s 0s ease-in-out;
            -o-transition: all 0.4s 0s ease-in-out;
            transition: all 0.4s 0s ease-in-out;
        }
        &:before {
            height: calc(190px * 1.25 * .80);
            z-index: 2 !important;
            width: 12px;
            left: -12px;
            top: calc(190px * 1.25 * .1);
            opacity: 0;
        }
        &:after {
            height: calc(190px * 1.25 * .6);
            width: 24px;
            left: -24px;
            top: calc(190px * 1.25 * .2);
            opacity: 0;
        }
    }

    // .active-card {
    //     margin-left: 30px;
    //     // display: none; 
    //     &:before, &:after {
    //         position: absolute;
    //         content: '';
    //         background: #000000;
    //         border-top-left-radius: 14px;
    //         border-bottom-left-radius: 14px;
    //     }
    //     &:before {
    //         height: calc(190px * 1.25 * .80);
    //         z-index: 2 !important;
    //         width: 12px;
    //         left: -12px;
    //         top: calc(190px * 1.25 * .1);
    //         opacity: .4;
    //     }
    //     &:after {
    //         height: calc(190px * 1.25 * .6);
    //         width: 24px;
    //         left: -24px;
    //         top: calc(190px * 1.25 * .2);
    //         opacity: .2;
    //     }
    // }
}

.owl-tag, .owl-name {
    color: #fefefe;
    // color: #f7f7f7;
    // color: #2c2c2c;
}

.owl-tag {
    font-size: 12px;
    padding: 4px 8px;  
    // background: rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    font-weight: 400;
    text-transform: capitalize;
    // border-radius: 8px;
}

.owl-base {
    position: absolute;
    bottom: 10px;
}

.owl-name {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .2px;
}

.owl-top-destinations {
    .item {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 120px;
        max-width: 120px;

        .destination-circle {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid #5598ff;
            position: relative;
            //primary: #428cff
            // shade: #3a7be0 
            // tint:  #5598ff
            padding: 1px;
            .img {
                background: rgb(251, 251, 251);
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .destination-name {
            max-width: 120px;
            margin-top: 12px;
            font-weight: 400;
            color: #2c2c2c;
            font-size: 14px;
            display: block;
            text-align: center;
            line-height: 17px;
        }
    }
}

.active {
    .card {
        // background: lightpink !important;
        position: relative;
        margin-left: 30px;
     
        &:before {
            opacity: 0.3;//0.4;
        }
        &:after {
            opacity: 0.15;//0.2;
        }
    }
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(0, 0, 0);
    opacity: .3;
}